<h3>Tipos primitivos</h3>
<ul>
  <li>isDone (boolean): {{isDone}}</li>
  <li>integer (number): {{integer}}</li>
  <li>decimal (number): {{decimal}}</li>
  <li>hex (number): {{hex}}</li>
  <li>binary (number): {{binary}}</li>
  <li>color (string): {{color}}</li>
  <li>composite (string) (`Texto & valores: $&#123;this.integer}`): {{composite}}</li>
  <li>composite2 (string) ('Texto & valores: ' + this.integer): {{composite2}}</li>
  <li>notAccessible (null) : {{notAccessible}}</li>
  <li>valueLess (undefined): {{valueLess}}</li>
  <li>tuple (tuple): {{tuple}}</li>
  <li>enumColorValue (enum Color): {{enumColorValue}}</li>
  <li>enumColorName (string): {{enumColorName}}</li>
  <li>notTyped1 (any): {{notTyped1}}</li>
  <li>notTyped2 (any): {{notTyped2}}</li>
  <li>notTyped3 (any): {{notTyped3}}</li>
  <li>notTyped4 (any): {{notTyped4}}</li>
  <li>immutable (any): {{immutable}}</li>
  <li>prueba : {{prueba}}</li>
</ul>

<h3>Clases y Array</h3>
<ul>
  <li>employee1: {{showEmployee(employee1)}}</li>
  <li>employee2: {{showEmployee(employee2)}}</li>
  <li>employee3: {{showEmployee(employee3)}}</li>
  <li>employee4: {{showEmployee(employee4)}}</li>
  <li>clazz: {{clazz}}</li>
  <li>clazz2: {{clazz2}}</li>
  <li>clazz3: {{clazz3}}</li>
  <li>list1: {{list1}}</li>
  <li>clazz.x (clazz.getX()), clazz.y (clazz.getY(): {{clazz.getX()}}, {{clazz.getY()}}</li>
  <li>clazz.value (clazz.value): {{clazz.value}}</li>
</ul>